#startScreen{
    background:url('../images/cheetahbackground.jpg');
    background-size: 980px 560px;
    background-position-x: 0px;
    background-repeat: no-repeat;
    width: 980px;
    height: 560px;
    position: absolute;
}

#gameBoard{
    background:url('../images/dirt_tile.png');
    width:1280px;
    height:720px;
    position:relative;
    visibility: hidden;
}

.gameInfo{
    padding-left: 15px;
    padding-top: 15px;
    width:300px;
    height:100px;
    position: relative;;
}   

#player{
    position:absolute;
    background: url("../images/dark_soldier_south_shadow.png");
    /*filter: drop-shadow(5px 7px 5px rgba(34, 34, 34, 0.70));*/
    height: 54px;
    width: 36.8px;
}

#startGameButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.basicEnemy {
    position:absolute;
    filter: drop-shadow(5px 13px 3px rgba(34, 34, 34, 0.70));
    height: 64px;
    width: 64px;
}

#meter1 { 
    height: 20px;  /* Can be anything */
    width: 400px;
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

#meter2 { 
    top: 10px;
    height: 20px;  /* Can be anything */
    width: 400px;
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

#playerStamina {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(182, 211, 21);
    box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}

#playerHealth {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(211, 21, 21);
    box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}