#startScreen{
    background:url('../images/cheetahbackground.jpg');
    background-size: 980px 560px;
    background-position-x: 0px;
    background-repeat: no-repeat;
    text-align: center;
    width: 980px;
    height: 560px;
    position: absolute;
}

#deathScreen{
    background:url('../images/cheetahbackground.jpg');
    background-size: 980px 560px;
    background-position-x: 0px;
    background-repeat: no-repeat;
    width: 980px;
    height: 560px;
    position: absolute;
    visibility: hidden;
}

#gameBoard{
    background:url('../images/backgrounds/rock_back.png');
    width:1280px;
    height:720px;
    position:relative;
    visibility: hidden;
    zoom: 1.2;
    border-style: solid;
    overflow: hidden;
}

.gameInfo{
    padding-left: 15px;
    padding-top: 15px;
    width:300px;
    height:100px;
    position: relative;;
}   

#player{
    position:absolute;
    background: url("../images/dark_soldier_north_shadow.png");
    /*filter: drop-shadow(5px 7px 5px rgba(34, 34, 34, 0.70));*/
    height: 54px;
    width: 36.8px;
    z-index: 3;
}

#startGameButton {
    background-color: black; 
    margin-top: 20%;
    border: none;
    color: white;
    padding: 15px 32px;
    width: 500px;
    float: none;
    display:inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 40px;  
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }

  
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
        transform:rotate(-10deg);
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
        transform:rotate(10deg);
    }
}
.basicEnemy {
    position:absolute;
    filter: drop-shadow(5px 13px 2px rgba(34, 34, 34, 0.80));
    height: 64px;
    width: 56px;
    z-index: 4;
}

.casterEnemy {
    position:absolute;
    filter: drop-shadow(3px 5px 2px rgba(181, 20, 187, 0.75));
    height: 64px;
    width: 48px;
    z-index: 4;
}

.casterProjectile {
    position:absolute;
    background: url('../images/boulder.png'); 
    filter: drop-shadow(5px 13px 2px rgba(172, 27, 141, 0.37));
    height: 21px;
    width: 21px;
    z-index: 4;

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow:
        0 0 6px 3px #fff,  /* inner */
        0 0 10px 6px #f0f, /* middle */
        0 0 14px 9px rgb(140, 0, 255); /* outer */
}

.decoration {
    position:absolute;
    filter: drop-shadow(2px 3px 1px rgba(34, 34, 34, 0.45));
    z-index: 1;
}

#meter1 { 
    top: 5px;
    height: 5px; 
    width: 250px;
	position: absolute;
	background: #555;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    z-index: 5;
    opacity: .9;
}

#meter2 { 
    top: 25px;
    height: 5px;  
    width: 250px;
	position: absolute;
	background: #555;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    z-index: 5;
    opacity: .9;
}

#playerStamina {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(182, 211, 21);
    box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    z-index: 5;
}

#playerHealth {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(211, 21, 21);
    box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    z-index: 5;
}

#bloodSplash {
    position: absolute;
    background: url("../images/blood_splash_resized.gif");
    height: 50px;
    width: 50px;
    visibility: hidden;
    filter: drop-shadow(3px 8px 5px rgba(187, 31, 31, 0.26));
}

.magicExplosion {
    position: absolute;
    background: url("../temp_images/magic_explode_resized.gif");
    height: 30px;
    width: 30px;
    z-index: 5;
    opacity: .8;
}

.fireTrail {
    position: absolute;
    background: url("../images/fire.gif");
    height: 35px;
    width: 48px;
    z-index: 1;
}

.dustCloud {
    position: absolute;
    background: url("../temp_images/dust_cloud.gif");
    height: 85px;
    width: 85px;
    opacity: .45;
    filter: drop-shadow(3px 8px 5px rgba(0, 0, 0, 0.308));
    z-index: 5;
}

#door {
    position:absolute;
    height: 150px;
    width: 150px;
    z-index: 2;
    border-radius: 50%;
    /*-webkit-animation: fadeinout 4s linear infinite;*/
    /*animation: fadeinout 4s linear infinite;*/
}
@-webkit-keyframes fadeinout {
    0%,100% { opacity: 1; }
    50% { opacity: .8; }
  }
@keyframes fadeinout {
    0%,100% { opacity: 1; }
    50% { opacity: .8; }
}

#enemySpawnDoor {
    background: url("../temp_images/web.gif");
    position:absolute;
    height: 150px;
    width: 150px;
    z-index: 2;
    border-radius: 50%;
    box-shadow: 
        0 0 6px 3px #fff, 
        0 0 10px 6px rgba(89, 31, 197, 0.90), 
        0 0 14px 9px rgba(89, 31, 197, 0.50);
}